* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Libre Baskerville", serif;
}

.aboutUs-row {
    display: flex;
}

.aboutUs-col {
    width: 50%;
}

.aboutUs-col_image {
    background-color: var(--color-darkblue);
}

.aboutUs-col_video {
    display: flex;
    align-items: baseline;
}

.aboutUs-col_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5.5rem;

}

.text-container {
    text-align: center;
}

h2 {
    font-family: 'Caramel';
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: rgb(43, 118, 179);
    margin-bottom: 1rem;
}

.text-container p {
    font-size: medium;
    font-weight: normal;
    color: darkslategray;
    padding-bottom: 1.5rem;

}

.moto {
    padding: 4.6rem;
    background-color: rgb(132, 170, 190);
}

.svg-container {
    padding: 9.4rem;
    background-color: rgb(132, 170, 190);
}


.aboutUs-col ul {
    font-size: medium;
    font-weight: normal;
    margin-left: 2.5rem;
    color: darkslategray;
    text-align: left;
    list-style-type: circle;
}

.aboutUs-col ul li {
    padding: .35rem;
}

.client-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#testimonalVideo {
    width: 70%;
    margin: 0 auto;
    object-fit: fill;
    max-height: 500px;
}

.our-services {
    padding: 2rem 0;
}


.services-container {
    margin: 0 auto;
    width: 70%;
}

.services-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(19, 48, 48);
    font-size: 1.2rem;
    font-weight: 900;
}

.line-service {
    padding: 2rem;
    text-align: center;
}

.line-service ul {
    text-align: left;
}

.services-row div img {
    margin-top: 30px;
    margin-right: 20px;
}

.services-row div {
    border: 5px dashed rgb(43, 118, 179);
    width: 33%;
    max-height: 200px;
}

.services-row div+div {
    margin-left: 2rem;
}

.line-service+.line-service {
    margin-left: 5rem;
}

.sub-services {
    padding: 1.2rem;
}

.sub-services li {
    font-size: 0.85rem;
    list-style-type: square;
    color: darkslategray;
}


@media (max-width: 1100px) {
    .aboutUs-row {
        flex-direction: column;
    }

    .aboutUs-col {
        width: 100%;
    }

    .aboutUs-row:nth-child(2) {
        flex-direction: column-reverse;
    }

    .aboutUs-col_content {
        padding: 2.5rem;
    }

    .moto {
        display: flex;
    }

    .services-container {
        width: 95%;
    }
}

@media (max-width: 850px) {
    .services-row {
        flex-direction: column;
    }

    .line-service {
        width: 100%;
        margin-left: 5rem;
    }
}