:root {
  --bg-color: #f9f6f6;
  --color-darkblue: #003768;
  --color-lighterblue: #008acb;

  --color-text-grey: #767676;

  --font-family-libre: "Libre Baskerville", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-libre);
  font-size: 1rem;
  background-color: var(--bg-color);
}

button {
  width: 100%;
  padding: 1rem;
  background-color: aliceblue;
}

.booking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

caption {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  color: #12263f;
  background-color: #f9f6f6;
}

.avaiable-pacakges {
  margin: 1rem;
  border-radius: 15px;
  border-collapse: collapse;
  width: 60%;
  border: 3px solid grey;
}

.avaiable-pacakges:hover {
  box-shadow: 0 5px 10px grey;
}

.avaiable-pacakges img {
  width: 120px;
}

.avaiable-pacakges th {
  color: white;
  background-color: #12263f;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 4px solid #666b85;
}

.packageIndex {
  width: 10%;
}

.avaiable-pacakges tr {
  border: 1px solid grey;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
}

.avaiable-pacakges td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: 16px;
  border-right: 1px solid grey;
}

.avaiable-pacakges tr:nth-child(even) {
  background-color: rgb(225, 234, 238);
}

.avaiable-pacakges tr:nth-child(odd) {
  background-color: aliceblue;
}

.avaiable-pacakges tr:hover {
  background-color: lightblue;
}

.booked-package {
  width: 50%;
  border: 3px solid grey;
  border-collapse: separate;
  border-radius: 6px;
  background-color: #f9f6f6;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
}

.booked-package td {
  border: 1px dashed black;
  padding: 10px;
}

.booked-package .result {
  text-align: center;
}

.booked-package #all-total {
  background-color: #666b85;
}
.booked-package #all-total:hover {
  background-color: lightblue;
}

.booked-package tr:first-child {
  border-top-left-radius: 15px;
}

.booked-package th:last-child {
  border-top-right-radius: 15px;
}

.booked-package td,
th {
  border-left: dashed black 1px;
}

.cart__banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(51, 51, 51, 0.4) 100%
    ),
    url("../assets/images/cart.jpeg");
  background-repeat: no-repeat;
  background-position: top 25% right 50%;
  background-size: cover;
  width: 100%;
  height: 50vh;
  max-height: 350px;
  display: flex;
  align-items: center;
  padding: 3rem;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.cart__banner h1 {
  color: white;
}
